h1{
    text-align: center;
}

header img{
    height: 200px;
}

.images{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.images .user{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.score{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 100px;
}